<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeFi Founds</title>

    <link rel="stylesheet" href="/assets/css/sakura.css">
    <script src="/assets/js/htmx-2.0.4.min.js"></script>
</head>
<body>
<h1>DeFi Founds</h1>
<p>Manage your crypto founds in DeFi</p>

<div id="balances" data-hx-get="/api/v1-htmx/balances" data-hx-trigger="load"></div>
<div id="allocations" data-hx-get="/api/v1-htmx/allocations" data-hx-trigger="load"></div>
<div id="view" data-hx-get="/api/v1-htmx/views" data-hx-trigger="load"></div>
</body>
</html>
