<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeFi Founds</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
    <script src="/assets/js/htmx-2.0.4.min.js"></script>
</head>
<body>
<h1>DeFi Founds</h1>
<p>Manage your crypto founds in DeFi</p>

<div id="balances" hx-get="/api/v1-htmx/balances" hx-trigger="load"></div>
<div id="allocations" hx-get="/api/v1-htmx/allocations" hx-trigger="load"></div>
</body>
</html>
