<tr id="allocation-{scheme_name}-{symbol}">
    <td>
        {scheme_name}
    </td>
    <td>
        {symbol}
    </td>
    <td>
        <input
                type="number"
                name="amount"
                value="{amount}"
                data-hx-post="/token/{auth_token}/api/v1-htmx/allocations"
                data-hx-target="#allocation-{scheme_name}-{symbol}"
                data-hx-swap="outerHTML"
                data-hx-trigger="blur"
                data-hx-vals='{"scheme_name":"{scheme_name}","symbol": "{symbol}"}'
        />
    </td>
    <td>
        <button
                data-hx-delete="/token/{auth_token}/api/v1-htmx/allocations/{scheme_name}/{symbol}"
                data-hx-target="#allocation-{scheme_name}-{symbol}"
        >
            Delete
        </button>
    </td>
</tr>
